@import "_variables";

.containerBtnClose {
  .btnClose {
    width: 80px;
    padding: 3px 8px;
    background-color: $verde-menta;
    border: none;
    color: $azul-color;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    font-family: $titulos;
  }

  /* Large (lg) */
  @media (min-width: 1024px) {
    width: 100px;
    padding: 5px 10px;
    font-size: 18px;
  }

  /* Medium (md) */
  @media (min-width: 768px) {
    width: 100px;
    padding: 5px 10px;
    font-size: 18px;
  }
}
