@import "_variables";

.footer {
  background-color: $verde-menta;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding-top: 45px;
  padding-bottom: 38px;
  font-family: $titulos;

  /* Medium (md) */
  @media (min-width: 768px) {
    width: 100%;
  }
}
