@import "_variables";

.containerHeaderAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $azul-color;

  h3 {
    margin-right: 50px;
    color: #fff;
  }
}
