.containerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $azul-color;
  align-items: center;
  margin-top: 30px;
}
.logo {
  width: 80%;
  margin-bottom: 30px;
}
