@import "_variables";

.loginfondo {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $azul-color;
  flex-direction: column;
  align-items: center;
  font-family: $titulos;

  .containerLogoLoguinBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;

    .containerLoginInput {
      width: 68%;
      height: 400px;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border: 1px solid black;
      border-radius: 15px;

      .textlogin {
        display: flex;
        flex-direction: row;
        width: 71%;
        margin-right: 14px;
        margin-bottom: -28px;
        font-family: $parrafos;
      }

      input {
        margin: 8px;
        padding: 5px;
        border: solid 1px;
        opacity: 1;
      }
    }

    .button {
      background-color: $verde-menta;
      border: none;
      color: #000;
      padding: 5px 60px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 15px;
      font-weight: 500;
      opacity: 0.99;
    }

    ::placeholder {
      display: block;
      padding-left: 1px;
      opacity: 0.5;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }
  }
  .logo {
    width: 80%;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  .containerLogoLoguinBody {
    width: 50%;
    .containerLoginInput {
      width: 40%;

      .textlogin {
        width: 40%;
        margin-left: 60px;
      }
    }
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  .containerLogoLoguinBody {
    width: 50%;
    .containerLoginInput {
      width: 40%;

      .textlogin {
        width: 40%;
        margin-left: 60px;
      }
    }
  }
}
