@import "_variables";

.quotesDayTable {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;

  .titleBtnNuevo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $titulos;

    h2 {
      margin-top: -40px;
      margin-right: 110px;
    }
  }

  table {
    font-family: $titulos;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-family: $parrafos;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.nameTable {
  display: flex;
  text-align: left;
}

.iconarChive {
  color: #000;
}
